<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog de recetas 2023</title>
</head>

{% load static %}
{% block titulo %}Nosotros{% endblock titulo %}
{% block contenido %}
    <h2>Integrantes del Grupo N°2 Comision 6 <br>
        <br>Bocek Juan<br>
        <br>Montiel Sergio<br>
        <br>Rojas Agustin<br>
    </h2>
{% endblock contenido %}

<body>
    Sobre mi !
</body>
</html>
