<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog de recetas 2023</title>
</head>
{% extends 'base.html'%}

{% load static %}
{% block titulo %}Nosotros{% endblock titulo %}
{% block contenido %}
    <h1>Integrantes del Grupo N°2 Comision 6 <h1>
    <h2>
        <br>Bocek Juan<br>
        <br>Montiel Sergio<br>
        <br>Rojas Agustin<br>
    </h2>
{% endblock contenido %}

<body>
    Sobre mi !
</body>
</html>
