{% extends 'base.html' %}
{% load static %}
{% block titulo %}Recetas{% endblock titulo %}
{% block contenido %}
    <h2>Mi receta detallada</h2>
    {% if user.is_authenticated and recetas.autor == user %}
    <form method="POST" action="{% url 'recetas:detalle' pk=recetas.pk %}">
        {% csrf_token %}
        <button type="submit" name="delete_receta">BORRAR</button>
    </form>
{% endif %}

    <div class="rece">
        <img src="{{recetas.imagenes.url}}" width="30%">
        <h3>{{recetas.titulo}}</h3>
        <p>{{recetas.contenido}}</p>
        <p>{{recetas.fecha}}</p>
        <p>{{recetas.categoria}}</p>
        <p>Autor: {{recetas.autor}}</p>
        <a href="{% url 'recetas:edit_receta' pk=recetas.pk %}">Editar</a>
        <form method="POST" action="{% url 'tecetas:detalle' pk=recetas.pk %}">
            {% csrf_token %}
            <button type="submit" name="delete_receta">BORRAR</button>
        </form>
    {% endif %}
</div>
    <br>
    <h4>Comentarios</h4>
    {% for comentario in comentarios %}
        <p><strong>{{comentario.usuario}} - {{comentario.fecha_creacion}}</strong></p>
        <p>{{comentario.contenido}}</p>
        <form method="post" action="{% url 'recetas:delete_comentario' comentario.id %}">
            {% csrf_token %}
            {% if comentario.usuario == user.username %}
                <button type="submit">Borrar</button>
                <a href="{% url 'recetas:edit_comentario' comentario_id=comentario.id %}">Editar</a>
            {% endif %}
        </form>
    <br>
    {% endfor %}
    {% if user.is_authenticated %}
        <h4>Añadir comentarios</h4>
        <form method="post" action="{% url 'recetas:add_comentario' recetas.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar</button>
        </form>
    {% else %}
        <p>Debe iniciar sesión para dejar un comentario</p>
        <a href="{% url 'login' %}">INICIAR SESION</a>
    {% endif %}
    <a href="{% url 'recetas:listar' %}">VOLVER</a>
{% endblock contenido %}

        {% if user.is_authenticated and receta.autor == user or user.is_staff %}
    <a href="{% url 'recetas:edit_receta' pk=recetas.pk %}">Editar</a>

    {% if comentario.usuario == user.username %}
    <button type="submit">Borrar</button>
    <a href="{% url 'recetas:edit_comentario' comentario_id=comentario.id %}">Editar</a>
{% endif %}



        <a href="{% url 'recetas:listar' %}">VOLVER</a>
        <p>Autor: {{recetas.autor}}</p>
        {% if user.is_authenticated %}
        <h4>Añadir comentarios</h4>
        <form method="post" action="{% url 'recetas:add_comentario' recetas.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar</button>
        </form>
    {% else %}
        <p>Debe iniciar sesión para dejar un comentario</p>
        <a href="{% url 'login' %}">INICIAR SESION</a>
    {% endif %}
    <a href="{% url 'recetas:listar' %}">VOLVER</a>
    <h4>Comentarios</h4>
    {% for comentario in comentarios %}
        <p><strong>{{comentario.usuario}} - {{comentario.fecha_creacion}}</strong></p>
        <p>{{comentario.contenido}}</p>
        <form method="post" action="{% url 'recetas:delete_comentario' comentario.id %}">
            {% csrf_token %}
            {% if comentario.usuario == user.username %}
                <button type="submit">Borrar</button>
            {% endif %}
        </form>
    <br>
    {% endfor %}
    {% if user.is_authenticated and receta.autor == user or user.is_staff %}
    <a href="{% url 'recetas:edit_receta' pk=recetas.pk %}">Editar</a>

    {% if comentario.usuario == user.username %}
    <button type="submit">Borrar</button>
    <a href="{% url 'recetas:edit_comentario' comentario_id=comentario.id %}">Editar</a>
{% endif %}

    </div>
{% endblock contenido %}
